<div class="bottom-navbar" data-controller="bottom-navbar">
  <ul>
    <%= link_to root_path, class:"text-decoration-none" do %>
      <li data-action="click->bottom-navbar#changeColor">
        <i class="fa-solid fa-house" data-bottom-navbar-target="links <%= "active" if params[:controller] == 'pages' && params[:action] == 'home' %>"></i>
      </li>
    <% end %>

    <%= link_to products_path, class:"text-decoration-none" do %>
      <li data-action="click->bottom-navbar#changeColor">
        <i class="fa-solid fa-pencil" data-bottom-navbar-target="links <%= "active" if params[:controller] == 'products' && params[:action] == 'index' %>"></i>
      </li>
    <% end %>
    
    <%= link_to edit_order_path(@order), class:"text-decoration-none" do %>
      <li data-action="click->bottom-navbar#changeColor">
        <i class="fa-solid fa-money-bill-transfer", data-bottom-navbar-target="links <%= "active" if params[:controller] == 'orders' && params[:action] == 'edit' %>"></i>
      </li>
    <% end %>

    <%= link_to orders_path, class:"text-decoration-none" do %>
      <li data-action="click->bottom-navbar#changeColor">
        <i class="fa-solid fa-book", data-bottom-navbar-target="links <%= "active" if params[:controller] == 'orders' && params[:action] == 'index' %>"></i>
      </li>
    <% end %>

    <%= link_to events_path, class:"text-decoration-none" do %>
      <li data-action="click->bottom-navbar#changeColor">
        <i class="fa-solid fa-chart-pie", data-bottom-navbar-target="links <%= "active" if params[:controller] == 'events' && params[:action] == 'index' %>"></i>
      </li>
    <% end %>
  </ul>
</div>
