<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <div class="container-fluid ps-0 pe-0">
    <%= link_to '/', class: "navbar-brand" do %>
      <%= image_tag 'logo-transparent.png', alt: 'Logo' %>
      <%= image_tag 'lemonadestand.png', alt: 'Lemonade Stand', id:"brand-name" %>
    <% end %>
    <%  if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto" style="background-color:white;">
          <li class="nav-item">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Order History", orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Creators", creators_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </li>
        </ul>
      </div>
    <% else %>
      <p class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link", id:"login-btn" %>
      </p>
    <% end %>
  </div>
</div>
