<% @events.each do |event| %>
  <div class="card-product-event position-relative">
    <%= link_to event_path(event), class: "d-flex  text-decoration-none text-dark" do %>
      <div class="image-container" style="width: 130px; height: 130px;">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, width: 130, height: 130, crop: "fit" %> <!-- We can change picture size and quality here -->
        <% else %>
          <%= image_tag asset_path('event_default_image.png'), width: 130, height: 130 %>
        <% end %>
      </div>
      <div class="card-product-infos ps-2 pt-4">
        <h2><%= event.event_name %></h2>
        <p class="card-event-date">
          📅 <%= event.start_date.strftime("%B %d") %> to <%= event.end_date.strftime("%B %d, %Y") %>
        </p>
        <p class="card-event-location">📍<%= event.location %></p>
      </div>
    <% end %>
    <div class="card-edit">
      <button type="button" class="btn-edit text-decoration-none fa-solid fa-pencil" style="color: #ffffff" data-bs-toggle="modal" data-bs-target="#EditEventModal-<%=event.id%>">
      </button>
    </div>
  </div>
  <%= render "edit_modal", event: event %>
<% end %>
