<div class="container">
  <%# <h2>Title could go here</h2> %>
  <%= simple_form_for @new_event do |f| %>
    <%= f.input :event_name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :location %>
    <%= f.input :estimated_event_cost %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
