<h1 class="text-center my-3">Lemonade Stand</h1>
<div class="dashboard-cards">
  <p><%= @event.event_name %><br>
    <%= @event.start_date.strftime("%d-%b") %> to <%= @event.end_date.strftime("%d-%b") %></p>
  <div class="dashboard-card overview">
    <h2>You sold X units,<br>
      total earnings of <%= number_to_currency(20000, { unit: '¥', precision: 0 }) %><br>
    </h2>
  </div>
  <div class="dashboard-card overview">
    You sold X units,<br>
    total earnings of <%= number_to_currency(20000, { unit: '¥', precision: 0 }) %><br>
  </div>
  <div class="dashboard-card overview">
    You sold X units,<br>
    total earnings of <%= number_to_currency(20000, { unit: '¥', precision: 0 }) %><br>
  </div>
</div>
