<h1 class="text-center my-3">Lemonade Stand</h1>
<div class="dashboard-cards">
  <p><%= @event.event_name %><br>
    <%= @event.start_date.strftime("%d-%b") %> to <%= @event.end_date.strftime("%d-%b") %>
  </p>
  <% if @event.orders.any? %>
    <div class="dashboard-card overview">
      <div class="overview-earnings">
        <h2><%= number_to_currency(20000, { unit: '¥', precision: 0 }) %></h2>
        <p>earned today</p>
      </div>
      <div class="overview-products">
        <p>52<br>
          products</p>
      </div>
    </div>
    <div class="dashboard-card day-chart">
      <p>Sales Breakdown by Day</p>
      <%= render "day_chart" %>
    </div>
    <div class="dashboard-card top-products">
      <p>Your Top Selling Products are</p>
      <ol class="text-center">
        <li><%= @event.orders.first.products.first.name %></li>
        <li><%= @event.orders.first.products.second.name %></li>
        <li><%= @event.orders.first.products.third.name %></li>
      </ol>
    </div>
    <div class="dashboard-card chart">
      <%= render "hour_chart" %>
    </div>
  <% else %>
    <div class="dashboard-card">
      <p><small>You have no orders for this event yet.</small></p>
    </div>
  <% end %>
</div>
