<%# Add buttons for each card. This is the unchanged code from mint. %>
<div class="bg-white position-relative">
  <div class="d-flex justify-content-center text-align-center my-2">
    <h3><strong>Selling page</strong></h3>
  </div>
  <div class="d-flex flex-row-reverse me-4 mb-3">
  </div>
  <%= render "orders/cart_modal", order: @order %>
  <div class="cards">
    <% @products.each do |product| %>
      <div class="row">
        <div class="col-12">
          <div class="card-trip"  data-controller="quantity">
            <% order_product = @order.order_products.find_by(product: product) %>
            <% if product.quantity.positive? && (order_product.nil? || order_product.product_quantity < product.quantity) %>
              <%= link_to "", "#", class: "card-trip-link", data: { action: "click->quantity#add", order_id: @order.id, product_id: product.id }, style: "text-decoration: none" %>
            <% end %>
            <% if order_product.present? && order_product.product_quantity > 0 %>
              <%= link_to "-", "#", class: "btn-ghost left-button", data: { action: "click->quantity#subtract", order_id: @order.id, product_id: product.id  }, style: "text-decoration: none" %>
            <% end %>
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class:"", width: 300, height: 210, crop: "fit" %>
            <% else %>
              <%= image_tag "https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" %>
            <% end %>
            <div class="row">
              <div class="card-trip-info-details">
                <h2 class="card-trip-info-name"><%= product.name %></h2>
                <h2 class="card-trip-pricing m-sm-1 m-t-1"><%= number_to_currency(product.price, { unit: '¥', precision: 0 }) %></h2>
                <div class="product-quantity"><%= order_product&.product_quantity || 0 %></div>
                <small class="text-secondary"><%= product.quantity %> in stock</small>
              </div>
            </div>
          </div>
          <%# <%= link_to edit_product_path, class:"card-trip-link" do %>
            <%# <i class="fa-solid fa-pen-to-square"></i> %>
            <%# <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="fixed-button">
      <button class="btn btn-outline-warning btn-round" data-bs-toggle="modal" data-bs-target="#CartModal">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </div>
