<div class="container">
  <%# <h2>Create Product</h2> %>
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :price, label: "Price (¥)" %>
    <div>
      <div class="row">
        <div class="col">
          <%= f.input :category %>
        </div>
        <div class="col">
          <%= f.input :quantity %>
        </div>
      </div>
    </div>
    <%= f.input :photo, as: :file %>
    <div class="d-flex justify-content-between">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
