<%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> %>
<%# This needs to be put somewhere else %>
<div class="bg-white position-relative">
  <div class="d-flex justify-content-center text-align-center my-2">
    <h2><strong>SET UP</strong></h5>
  </div>
  <%# product cards %>
  <div class="cards">
    <% @products.each do |product| %>
      <div class="row">
        <div class="col-12">
          <div class="card-trip position-relative">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, width: 300, height: 210, crop: "fit" %> <!-- We can change picture size and qualitity here -->
            <% else %>
              <%= image_tag "https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"%>
            <% end %>
            <div class="card-trip-infos">
              <h2><%= product.name %></h2>
              <p class="card-trip-pricing"><strong><%= number_to_currency(product.price, { unit: '¥', precision: 0 })%></strong></p>
            </div>
            <%# edit button %>
            <div class="card-edit">
              <button type="button" class="btn-edit text-decoration-none fa-solid fa-pencil" style="color: #ffffff" data-bs-toggle="modal" data-bs-target="#EditProductModal">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# product button %>
    <div class="card-create">
      <button type="button" class="fa-solid fa-circle-plus btn-create bg-transparent" style="color: #E2AB2D" data-bs-toggle="modal" data-bs-target="#CreateProductModal">
      </button>
      <!-- Modal -->
      <!--  <%= render "edit_modal" %> -->
      <%# Model End %>
    </div>
  </div>
