<!DOCTYPE html>
<html>
  <head>
    <%# Google tag (gtag.js %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCEE7NR77X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RCEE7NR77X');
    </script>
    <%# Google tag end %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <div class="mt-2" style="overflow-x: hidden">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div class="content">
        <%= yield %>
      </div>
      <footer class="footer">
        <% if user_signed_in? %>
          <%= render "shared/bottom_navbar", order: @order, orders: @orders %>
        <% end %>
      </div>
    </footer>
  </body>
</html>
