<!DOCTYPE html>
<html>
  <head>
    <title>LemonadeStand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="footer">
      <% if user_signed_in? %>
        <%= render "shared/bottom_navbar", order: @order, orders: @orders %>
      <% end %>
    </footer>
  </body>
</html>
